div
    div.markdown-wrapper
        :markdown-it(linkify)
            # hz-anim
            hz-anim helps to perform animations synchronizing  with the haztivity resources flow.

            hz-anim uses [velocity.js](http://velocityjs.org/) under the hood.
            ## Dependencies
            - JQuery
            - velocity.js
            - haztivity/core
            ## Usage
            1. Import @haztivity/hz-anim
            2. Add HzAnim to the page
            3. Assign an event to listen with ```data-hz-anim-on```
            4. Set the properties o transition to anim with ```data-opt-hz-anim-do```
            #### Ts
            ```typescript
            import {PageFactory, Page, PageController, PageRegister} from "@haztivity/core";
            import template from "./page.pug";
            import {HzAnimResource} from "@haztivity/hz-anim";
            export let page: PageRegister = PageFactory.createPage(
                {
                    name: "myPage",
                    resources: [
                        HzAnimResource
                    ],
                    template: template
                }
            );
            ```
            #### Pug
            ```jade
            button(data-hz-resource="HzAnim"
                    data-opt-hz-anim-on="click"
                    data-opt-hz-anim-do={"rotateZ":[180,0]}) Do to me
            ```
            or
            #### HTML
            ```html
            <button data-hz-resource="HzAnim"
                    data-opt-hz-anim-on="click"
                    data-opt-hz-anim-do="{'rotateZ':[180,0]}">
                    Do to me
            </button>
            ```

            This will perform a rotate in the Z axis from 0 to 180 degrees.

            By default, the animation is performed to the item itself, to see how to apply the animation to other element plase go to [Apply animation to other targets](#markdown-header-apply-animation-to-other-targets)

            HzAnim uses [velocity.js](http://velocityjs.org/), a very **efficient** js library to perform animations.

            It's possible to animate any of the properties and transitions available in velocity.js and use all the options.
        button(data-hz-resource="HzAnim"
        data-opt-hz-anim-on="click"
        data-opt-hz-anim-do='{"rotateZ":[180,0]}') Do to me

    div.markdown-wrapper
        :markdown-it(linkify)
            ## Apply animation to other targets
            To apply the transforms to other elements, use the ```data-opt-hz-anim-to```, accepts any jquery valid selector.
            See [jquery selectors](https://api.jquery.com/category/selectors/) for more info.
            ### Example
            #### Pug
            ```jade
            button(data-hz-resource="HzAnim"
                    data-opt-hz-anim-on="click"
                    data-opt-hz-anim-do={"rotateZ":[180,0]}
                    data-opt-hz-anim-to=".target") Do to .target

            button.target Target
            ```
            or
            #### HTML
            ```html
            <button data-hz-resource="HzAnim"
                    data-opt-hz-anim-on="cli###ck"
                    data-opt-hz-anim-do="{'rotateZ':[180,0]}"
                    data-opt-hz-anim-to=".target">
                    Do to all .target
            </button>
            <button class="target">Target</button>
            ```

        button(data-hz-resource="HzAnim"
        data-opt-hz-anim-on="click"
        data-opt-hz-anim-do='{"rotateZ":[180,0]}'
        data-opt-hz-anim-to=".target") Do to .target

        button.target .target