div
    button(data-hz-resource="HzAnim"
    data-opt-hz-anim-on="click"
    data-opt-hz-anim-do='[{"translateX":100},{"translateY":100}]'
    data-opt-hz-anim-to="p") Do
    button(data-hz-resource="HzAnim"
    data-opt-hz-anim-on="click"
    data-opt-hz-anim-do='{"translateX":0,"translateY":0}'
    data-opt-hz-anim-to="p") Reset
    p 1
    p 2