div
    style.
        p {
            transform:translateX(-100px);
        }

    button(data-hz-resource="HzAnim"
    data-opt-hz-anim-on="click"
    data-opt-hz-anim-do='[{"translateX":[100,-100],"add":{"class":"opening"}},{"translateY":100},{"remove":{"class":"opening"},"add":{"class":"opened","data-opened":true}}]'
    data-opt-hz-anim-to="p") Do
    button(data-hz-resource="HzAnim"
    data-opt-hz-anim-on="click"
    data-opt-hz-anim-do='{"translateX":0,"translateY":0}'
    data-opt-hz-anim-to="p") Reset
    button(data-hz-resource="HzAnim"
    data-opt-hz-anim-on="click"
    data-opt-hz-anim-to="#1"
    data-opt-hz-anim-do='{"backgroundColor":"#ff0000"}'
    data-opt-hz-anim-do-2='{"height":"100px"}'
    data-opt-hz-anim-to-2="#1",
    data-opt-hz-anim-do-3='{"fontSize":"40px"}',
    data-opt-hz-anim-to-3="#1 span") Do to #1
    p#1
        span 1
    p
        span 2
